#img-table {
  grid-column-start: 2;
  border-radius: 3vh;
  font-size: 3vh;
  background-color: var(--dark);
  flex-direction: column;
  width: 100%;
  margin-left: 2%;
  padding: 2% 2% 2% 2%;
  border-collapse: collapse;
  color: var(--light);
}

#img-table tr {
  height: 4vh;
  border-style: none;
  border-left: none;
  border-right: none;
  width: 97%;
}

#img-table th {
  font-size: 100%;
  height: 100%;
  padding: 1% 1% 1% 1%;
  text-align: center;
  width: 20%;
}

#img-table td {
  font-size: 2vh;
  height: 100%;
  padding: 1% 1% 1% 1%;
  text-align: center;
  width: 20%;
  color: var(--light);
}

#add-img-button {
  border-radius: 3vh;
  background-color: var(--medium);
  border-style: none;
  font-size: 2vh;
  color: var(--dark);
  height: 100%;
  text-align: center;
  width: 100%;
  transition: background-color .5s;
}

#add-img-button:hover {
  background-color: var(--primary);
  transition: .5s;
}

#cancel:hover {
  background-color: var(--light);
  border-radius: 50%;
  transition: background-color .5s;
}

#cancel {
  height: 3vh;
  background-color: transparent;
  border-radius: 50%;
  border-color: transparent;
  transition: background-color .5s;
}

#delete-img-button:hover {
  background-color: var(--primary);
  transition: background-color .5s;
}

#img-table input {
  border-radius: 3vh;
  background-color: var(--light);
  border-style: none;
  font-size: 2vh;
  color: var(--dark);
  height: 100%;
  text-align: center;
  width: 100%;
}

#img-table select {
  border-radius: 3vh;
  background-color: var(--light);
  border-style: solid;
  font-size: 2vh;
  color: var(--dark);
  height: 100%;
  text-align: center;
  align-content: center;
  width: 100%;
}

#export-button {
  border-radius: 3vh;
  background-color: var(--medium);
  border-style: none;
  font-size: 2vh;
  color: var(--light);
  height: 3vh;
  text-align: center;
  width: 100%;
  margin-top: 2%;
  margin-left: 2%;
  transition: background-color .5s;
}

#export-button:hover {
  background-color: var(--primary);
  transition: .5s;
}