
:root {
  --umbra: #000000;
  --penumbra: #191919;
  --eros: #282828;
  --ceres: #646464;
  --palas: #9b9b9b;
  --vesta: #f0f0f0;
  --luna: #ffffff;
  --proto: #ff6900;
  --neutral: #8cff00;
}

html {
  margin: 2%;
  font-family: Arial;
  color: var(--vesta);
  background-color: var(--penumbra);
}

div#app {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--penumbra);
}

#test:empty {
  background-color: red;
}