
:root {
  --dark: #000000;
  --medium: #696969;
  --light: #d1d1d1;
  --error: #dc3e04;
  --success: #36dc04;
  --primary: #aa04dc;
  --secondary: #04a2dc;
  --blue-asset: #0e15bc;
  --red-asset: var(--error);
}

body {
  background-color: var(--dark);
  font-family: Arial;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: var(--dark);
  padding: 2%;
}
