#nav-panel {
  grid-column-start: 1;
  background-color: var(--dark);
  border-style: none;
  border-radius: 3vh;
  width: 100%;
  height: auto;
}

.nav-panel-item {
  flex-direction: column;
  border-style: none;
  background-color: var(--medium);
  color: var(--light);
  height: 2vh;
  border-radius: 2vh;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  font-size: 2vh;
  transition: background-color .5s;
  margin-bottom: 1vh;
}

.nav-panel-item:hover {
  background-color: var(--primary);
  transition: .5s;
}