
:root {
  --dark: #000000;
  --medium: #696969;
  --light: #d1d1d1;
  --error: #dc3e04;
  --success: #36dc04;
  --primary: #aa04dc;
  --secondary: #04a2dc;
  --blue-asset: #0e15bc;
  --red-asset: var(--error);
}

body {
  background-color: var(--dark);
  font-family: Arial;
  margin: 0;
  color: var(--light);
}

.app-container {
  display: grid;
  grid-template-rows: 5vh 90vh 5vh;
  row-gap: 1vh;
  background-color: var(--dark);
  height: 100vh;
}

.content {
  grid-row-start: 2;
  background-color: var(--dark);
  border-style: none;
  padding: 0 1vw 0 1vw;
}

